/* =========== Comon ========== */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --content_width: 1170px;
}

html {
    font-size: 62.5%;
    height: 10000px;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content {
    width: var(--content_width);
    margin-right: auto;
    margin-left: auto;
}

/* ================= Navbar ================= */
.navbar {
    background: #fffcf4;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 20px 0;
}

.navbar .cta_section {
    display: flex;
    align-items: center;
}

.navbar .list_sections {
    display: flex;
    gap: 42px;
}

.navbar .list_sections li:first-child a {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

.navbar .list_sections li:first-child a::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    bottom: -1px;
    left: 1px;
}

.navbar .list_sections li:not(li:first-child) a {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.navbar .cta_section .sign_up {
    display: inline-block;
    background: #171100;
    color: #fff;
    border-radius: 24.5px;
    margin-left: 70px;
    padding: 11px 41px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

/* ================= Hero ================= */
.hero {
    background: #fffcf4;
    padding-top: 44px;
    padding-bottom: 65px;
}

.hero .content {
    display: flex;
    flex: 1;
}

.hero .box_img {
    width: 570px;
    position: relative;
}

.hero .box_text {
    width: 470px;
    margin: 64px 0 0 120px;
}

.hero .box_text .title {
    color: #171100;
    font-size: 5.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.16px;
}

.hero .box_text .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.hero .box_img .guy {
    border-radius: 20px;
    width: 470px;
    height: 685px;
    object-fit: cover;
}

.hero .box_img .base {
    position: absolute;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding-top: 24px;
    gap: 14px;
    width: 270px;
    height: 244px;
    bottom: 48px;
    right: 0;
}

.hero .box_img .row {
    margin-left: 24px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.hero .box_img .row p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.hero .box_img .row span {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.hero .box_text .diff_courses {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .box_text .btn_see_courses {
    display: inline-block;
    color: #fff;
    background: #ffb900;
    padding: 17px 33px 17px 34px;
    border-radius: 32px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.hero .box_text .diff_courses .icon_play {
    width: 40px;
    height: 40px;
    margin: 8px 14px 0 28px;
}

.hero .box_text .diff_courses p {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.hero .box_text .engagement {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.hero .box_text .total {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.hero .box_text .total strong {
    color: #171100;
    font-size: 4.4rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 54px;
}

.hero .box_text .total span {
    color: #5f5b53;
    margin: 0 0 3px 14px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.hero .box_text .total .block {
    display: flex;
    align-items: end;
}

/* ================= Courses ================= */
.courses .content {
    padding: 200px 0;
}

.courses .box_text {
    display: flex;
    justify-content: space-between;
}

.courses .box_text .sub_title {
    color: #171100;
    font-size: 3.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.courses .box_text .desc {
    margin-top: 16px;
    color: #5f5b53;
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.courses .list_courses {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.courses .list_courses .course:not(.course:first-child) {
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.courses .list_courses .infor_course {
    margin: 16px 22px 22px 22px;
    margin-left: 22px;
}

.courses .list_courses .first {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .list_courses .theme {
    width: 370px;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.courses .list_courses .name_course {
    display: flex;
    justify-content: space-between;
}

.courses .list_courses .name_course .vote {
    display: flex;
}

.courses .list_courses .name_course .star {
    margin-right: 6px;
}

.courses .list_courses .name_course h3 {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.courses .list_courses .desc_course {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.courses .list_courses .btn {
    color: #fff;
    text-align: center;
    display: inline-block;
    background: #ffb900;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
}

.courses .list_courses .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses .list_courses .price strong {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.courses .list_courses .btn_buy1 {
    border-radius: 25px;
    background: #171100;
}

/* ================= Testimonial ================= */
.testimonial {
    background: #2e2100;
}

.testimonial .content {
    padding-top: 96px;
    padding-bottom: 96px;
    height: 380px;
    display: flex;
    align-items: center;
}

.testimonial .information .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.testimonial .information .his_name {
    margin-top: 18px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 34px;
}

.testimonial .information .his_job {
    margin-top: 4px;
    margin-bottom: 28px;
    width: 159px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.testimonial .he_said {
    position: relative;
    margin-left: 271px;
}

.testimonial .he_said .text {
    color: #fff;
    width: 740px;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
}
.testimonial .he_said img {
    position: absolute;
    top: -29px;
    left: -31px;
}

/* ================= Feature ================= */
.feature {
    margin-top: 200px;
}

.feature .content {
    display: flex;
    justify-content: space-between;
}

.feature .content .desc_text {
    width: 470px;
}

.feature .desc_img {
    width: 570px;
    height: 438px;
    position: relative;
}

.desc_img .theme {
    position: absolute;
    width: 270px;
    height: 405px;
    border-radius: 16px;
}

.desc_img .theme1 {
    bottom: 0;
    left: 0;
}
.desc_img .theme2 {
    top: 0;
    right: 0;
}

.desc_text {
    padding-top: 58px;
}

.desc_text .subtitle {
    color: #171100;
    font-size: 3.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.desc_text .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.desc_text .lesson {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.desc_text .sing_up {
    margin-top: 32px;
    display: inline-block;
    color: #fff;
    background: #ffb900;
    border-radius: 26px;
    padding: 11px 37px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

/* ================= CTA ================= */
.cta {
    margin-top: 200px;
}

.cta .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta .content .theme {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

.cta .content .box_text {
    width: 570px;
}

.cta .box_text .subtitle {
    color: #171100;
    font-size: 3.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.cta .box_text .desc {
    margin-top: 16px;
    margin-bottom: 32px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.cta .box_text .join_now {
    display: inline-block;
    color: #fff;
    background: #ffb900;
    border-radius: 26px;
    padding: 12px 32px 10px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

/* ================= Blog ================= */

.blog {
    margin-top: 200px;
    background: #fffcf4;
}

.blog .content {
    padding: 96px 0;
}

.blog .title {
    color: #130606;
    text-align: center;
    font-size: 3.8rem;
    font-family: Sen;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
}

.blog .desc {
    color: #696262;
    text-align: center;
    margin: 16px auto 55px;
    width: 448px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
}

.blog .list_items {
    display: flex;
    gap: 30px;
}

.blog .item {
    border-radius: 16px;
    background: #fff;
}

.blog .item1 {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .theme {
    width: 370px;
    height: 250px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.blog .item .calendar {
    position: relative;
    margin: 20px 0 0 10px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.blog .item .calendar::before {
    content: "";
    position: absolute;
    display: inline-block;
    background: #ffb900;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    left: -10px;
    bottom: 11px;
}

.blog .item .text_part {
    margin-left: 20px;
}

.blog .text_part .subtitle {
    width: 330px;
    margin-top: 25px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

.blog .text_part .read_more {
    display: inline-block;
    color: #fff;
    background: #171100;
    margin: 12px 0 28px 0;
    padding: 12px 21px;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
}

.blog .text_part .first {
    background: #ffb900;
}

.blog .icon_3dot {
    display: block;
    margin: 38px auto 0;
}

/* ================= Footer ================= */
.footer {
    background: #2e2100;
}

.footer .content {
    display: flex;
    padding: 96px 0 28px;
}

.footer .content .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 28px;
}

.footer .column .desc {
    color: #bfbcb2;
    width: 267px;
    margin: 18px 145px 18px 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.footer .column .line {
    margin: 14px 0 28px 0;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer p {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.footer p ~ p {
    margin-top: 12px;
}

.footer .column ~ .column {
    margin-right: 132px;
}

.footer .column3 {
    width: 137px;
}

.footer .column4 {
    width: 231px;
}
